<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>EZdeal EZshop</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="color.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="color.js"></script>
  </head>
  <body>

<!------------------------------------------------------->
<input type="radio" id="dark-mode" value="dark-mode" name="color-scheme"> 
			<label for="dark-mode" class="color-scheme"><img src="./resources/moon.png" width=20px alt="click to change to dark mode and light mode"></label> 
		<input type="radio" id="light-mode" value="light-mode" name="color-scheme" checked="checked"> 
			<label for="light-mode" class="color-scheme"><img src="./resources/sun.png" width=20px alt="click to change to dark mode and light mode"></label>
		
		<div class="page">

<!------------------------------------------------------->

    <main>
      <div class="navbar">
        <ul>
          <li>
            <a href="./"
              ><img class="logo"
                src="./resources/ez.gif"
                alt="Index"
            /></a>
            <!-- width and height are defined in index.css -->
          </li>
          <div class="search-box">
            <form action="/search" method="POST">
              <label for="search" style="font-size: 0;">Search</label>
              <input type="search" placeholder="Search" name="cari" id="search"/>
              <button type="submit" class="searchButton"><a style="font-size: 0;">search</a>
              </form>
                <i class="fa fa-search"></i>
          </div>
          <li>
            <a href="./cartPage"
              ><img
                src="./resources/cart - Copy.png"
                alt="Cart"
            /></a>
          </li>
        </ul>
      </div>


      <div class="items">

        <!-- Item 01 prototype  -->
        <% c_items.forEach((item) => { %>
        <div class="flex-item">
          <div class="item-image">
            <img class="item-image" src="<%=item.picture%>" alt="This is an image of the product: <%= item.name %> that you can buy."/>
          </div>
          <div class="item-description">
            <p class="name"><%= item.name %></p>
            <p class="description"><%= item.description %></p>
            <p class="price">$<%= item.price %></p>
            <div class="item-button-mobile">
              <form method="POST" action ="/rcart">
                <input type="hidden" name="id" value="<%= item.id %>">
              <input class="buttonCart" type="submit" value="Remove">
            </form>
          </div>
          <div class="item-amount">
          </div>
          <div class="item-button">
            <form method="POST" action ="/rcart">
              <input type="hidden" name="id" value="<%= item.id %>">
            <input class="buttonCart" type="submit" value="Remove">
          </form>
          </div>
        </div>
        <% }); %>

    
      </div>

      <div class="total-price">
        <p class="price-label">Total Price:</p>
        <p class="price-amount">$<%= totalx %>.00</p>
      </div>

      <div class="buy-items">
        <button type="button" onclick="alert('Item Bought')">Buy all items!</button>
      </div>

    </main>
    <footer>
      <p>copyright Natalie & Jonathan</p>
      <p>2021 CS465 Full-stack final project</p>
    </footer>
  </body>
</html>
